/* Theme */
.text-theme {
	color: rgb(196, 30, 237);
	/*color: rgb(30, 177, 237);*/
}

.text-theme-dark {
	color: rgb(149, 22, 166);
	/*color: rgb(22, 125, 166);*/
}

.navbar-theme {
	background: rgb(127, 49, 148);
	/*background: rgb(49, 86, 148);*/
}

a {
	color: rgb(22, 82, 166);
}

a:hover {
	color: rgb(18, 64, 128);
}

/* Layout */
html, body, #root {
	height: 100%;
	width: 100%;
}

.first-page-component {
	margin-top: 60px;
}

.page-component {
	width: 100%;
	margin-bottom: 20px;
	font-size: 14pt;
}

.last-page-component {
	margin-bottom: 60px;
}

/* About */
.title {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Page Break */
span.outer-line {
	display: inline-block;
	vertical-align: middle;
	width: 40%;
	border-bottom: 3px solid #888;
}

@media only screen and (max-width: 768px) {
	span.outer-line {
		width: 30%;
	}
}

.page-break {
	text-align: center;
	vertical-align: middle;
	font-size: 12pt;
}

.page-break .circle-border {
	display: inline-block;
	background: #888;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	text-align: center;
	line-height: 110px;
	vertical-align: middle;
	padding: 15px;
}

/* Logo */
img.logo {
	border-radius: 50%;
	max-width: 100%;
}

img.project-logo {
	max-width: 100%;
}

@media only screen and (max-width: 768px) {
	img.logo {
		margin-bottom: 10px;
	}
}

/* Table */
#skills table {
	border-spacing: 2px;
}

/* Info Card */
.info-card {
	margin-top: 20px;
}

.info-card img.logo {
	width: 120px;
}