body {
	font-size: 14pt;
	padding-top: 60px;
}

.tab-pane {
	margin-top: 30px;
	margin-bottom: 30px;
}

.logo {
    border-radius: 50%;
	max-width: 100%;
}

.tab-pane .card {
	margin-bottom: 30px;
}

.tab-pane:after {
    content: '';
    clear: both;
    display: table;
}